:root {
  --primary-color: #002152;
  --secondary-color: #16232e;
  --tertiary-color: rgb(0, 174, 255);
  --fourth-color: #acd0f5;
  --toggle-color: #ffffff;
  --text-color: #ffffff;
}

:root.light {
  --primary-color: #ffffff;
  --secondary-color: rgb(74, 126, 150);
  --tertiary-color: #007bff;
  --fourth-color: #acd0f5;
  --toggle-color: #16232e;
  --text-color: #000000;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  padding: 20px 100px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-radius: 7px;
}
header h1 {
  color: var(--text-color);
  text-align: left;
  font-size: 28px;
}

header nav .links a {
  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
  margin-left: 50px;
  font-size: 23px;
  font-weight: bold;
}

header nav .links a:hover {
  background-color: transparent;
  color: var(--tertiary-color);
}

#theme-toggle {
  background-color: var(--toggle-color);
  border: none;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

#sobre {
  display: flex;
  margin: 40px 300px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.sobre-texto {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.6;
}

.sobre-foto img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-left: 20px;
  box-shadow: 0px 0px 10px var(--tertiary-color);
}

.seção-habilidades {
  margin: 40px 300px;
  padding: 20px;
  border-top: 5px dotted var(--tertiary-color);
}

.habilidades-texto h1 {
  text-align: center;
  margin-bottom: 20px;
}

.blocos-habilidade {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.habilidade {
  margin: 10px;
}

.blocos-habilidade img {
  width: 100px;
  height: auto;
  margin: 0 20px;
  padding-bottom: 10px;
}

.habilidade {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--tertiary-color);
  padding: 10px;
}

#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 300px;
  padding: 20px;
  border-top: 5px dotted var(--tertiary-color);
}
.slider-container {
  display: flex;
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--tertiary-color);
  max-height: 700px;
  width: 1000px;
  overflow: hidden;
}

.projetos-container {
  display: flex;
  gap: 100px;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.projetos-container article {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 1000px;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  opacity: 0.4;
  color: var(--tertiary-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}


.btn.next {
  right: 10px;
}

.btn.prev {
  left: 10px;
}

.btn:hover {
  opacity: 1;
}

#project-link {
  width: 900px;
  height: auto;
  border-radius: 10px;
}

.projetos-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.projetos-conteudo p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.projetos-conteudo a {
  color: var(--text-color);
  background-color: var(--primary-color);
  width: 350px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.project-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
.projetos-conteudo a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#contato {
  margin: 40px 300px;
  padding: 20px;
  border-top: 5px dotted var(--tertiary-color);
}

.contato-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contato-links {
  background-color: var(--secondary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.contato-links a {
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.contato-links a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-decoration: none;
}

.formulario-contato {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  min-width: 600px;
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
}

.formulario-contato label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario-contato input,
.formulario-contato textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.formulario-contato button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.formulario-contato button:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 7px;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1550px) {
  header {
    padding: 20px;
  }

  #sobre {
    margin: 20px;
  }

  .seção-habilidades {
    margin: 20px;
  }

  #projetos {
    margin: 20px;
  }

  #contato {
    margin: 20px;
  }

  #contato h1 {
    text-align: center;
  }
}

@media (max-width: 960px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    text-align: center;
  }

  header nav .links {
    margin-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  header nav .links a {
    margin-left: 0; 
    font-size: 20px;
  }

  #sobre {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .sobre-texto {
    max-width: 100%;
    text-align: center;
  }

  .sobre-foto img {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .seção-habilidades {
    margin: 10px;
    padding: 10px;
  }
  
  .blocos-habilidade {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .habilidade {
    margin: 10px;
  }

  .blocos-habilidade img {
    margin-bottom: 20px;
  }

  #projetos {
    margin: 20px;
  }

  #contato {
    margin: 20px;
  }
  
  .contato-content {
    flex-direction: column;
    width: 100%;
  }

  .formulario-contato {
    margin: 20px 0 0 0; 
    min-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  header nav .links {
    flex-direction: column;
    gap: 10px;
  }

  .projetos-container img {
    width: 100%;
    max-width: 300px;
  }

  .projetos-conteudo a {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
  }

  .contato-links a {
    width: 100%;
    max-width: 250px;
  }
}